<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148011500042-g66j1s6hohs5t93uad12cvg6cku7lln7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148011500042-g66j1s6hohs5t93uad12cvg6cku7lln7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148011500042-9fpfgibgnli7m3mmthmnflh12jj3i8tp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-4O7Fabxyw69eCKvrLCNa3cn8R-8xgEA</string>
	<key>GCM_SENDER_ID</key>
	<string>148011500042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobidevlabs.ande</string>
	<key>PROJECT_ID</key>
	<string>iorder-5246c</string>
	<key>STORAGE_BUCKET</key>
	<string>iorder-5246c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148011500042:ios:4540815166400c4bfad5f3</string>
	<key>DATABASE_URL</key>
	<string>https://iorder-5246c.firebaseio.com</string>
</dict>
</plist>